<div class="checkoutContainer">
    <div class="row image-container" style="width: 824px; height: 55px; margin-left: 0px;">
        <!-- <div class="col" style="align-content: center;">
            <p class="font-2xl weight-medium ms-3 mb-3">checkout</p>
        </div> -->
        <!-- <div class="col" style="padding-left: 0px !important">
            <img src="../../assets/images/checkout/PGnew3.png" class="overlapping-image"   />
        </div> -->
    </div>
    <mat-card class="content-card mb-5 p-4">
        <div class="pymtOpt">
            <p class="p-3 font-lg weight-medium">Payment Options:{{amount | currency:'INR'}}</p>
        </div>
        <mat-tab-group (focusChange)="clickTab($event)" [selectedIndex]="tabIndex" class="custom-tab-group">
            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tab-card">
                        <img matChipAvatar src="../../assets/images/checkout/cards.svg" class="tab-icon mb-2" />
                        <p class="font-sm weight-regular mb-0">Cards</p>
                    </div>
                </ng-template>
                <div class="innerCard">
                    <p class="font-lg weight-regular pb-3">Card Details</p>
                    <form #AdvancePayForm="ngForm">
                        <mat-form-field  style="width: 438px">
                            <mat-label>Card Number</mat-label>
                            <input matInput type="text" placeholder="Card Number" maxlength="16" name="cardnumber"
                                required pattern="[3-6]{1}[0-9]{15}"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                [(ngModel)]="adObj.cardnumber" #cardnumber="ngModel"
                                (change)="showCardInInput(adObj.cardnumber)" />
                            <img *ngIf="!cardImg == false" [src]="cardImg" matSuffix
                                style="height: 40px; margin-top: 10px" />
                            <mat-error *ngIf="cardnumber.errors?.['required']">
                                Card number required
                            </mat-error>
                            <mat-error *ngIf="cardnumber.errors?.['pattern']">
                                Enter Valid Card Number
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field  style="width: 271px;" class="me-2">
                            <mat-label appearence="outline"> Validity </mat-label>
                            <input matInput type="text" name="validity" placeholder="MM/YY" minlength="5" maxlength="5"
                                oninput="this.value = this.value.replace(/[^0-9./]/g, '').replace(/(\..*)\./g, '$1');"
                                [(ngModel)]="adObj.validity" #validity="ngModel" required
                                pattern="^(?:0?[1-9]|1[0-2]) *[/\/-] *[1-9][0-9]$" />
                            <mat-error *ngIf="validity.errors?.['required']">
                                Value is required
                            </mat-error>
                            <mat-error *ngIf="validity .errors?.['pattern']">
                               Invalid Card Number
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field  style="width: 156px;">
                            <mat-label>CVV</mat-label>
                            <input matInput type="password" placeholder="CVV" required pattern="[0-9]{3}"
                                [type]="hide ? 'password' : 'text'"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                maxlength="3" name="cvv" [(ngModel)]="adObj.cvv" #cvv="ngModel" />
                            <mat-error *ngIf="cvv.errors?.['required']">
                               Value is required
                            </mat-error>
                            <mat-error *ngIf="cvv.errors?.['pattern']">
                                Enter Only Numbers
                            </mat-error>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{
                                    hide ? "visibility_off" : "visibility"
                                    }}</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field  style="width: 438px">
                            <mat-label>Name on Card</mat-label>
                            <input matInput type="text" placeholder="Name on Card" required pattern="[a-zA-Z]{5,20}"
                                name="nameonCard" [(ngModel)]="adObj.nameonCard" #nameonCard="ngModel" />
                            <mat-error *ngIf="nameonCard.errors?.['required']">
                                Name Required
                            </mat-error>
                            <mat-error *ngIf="nameonCard.errors?.['pattern']">
                               Enter Valid Name
                            </mat-error>
                        </mat-form-field>
                        <div>
                            <button mat-flat-button color="primary" style="width: 438px; color:white;"
                                [disabled]="AdvancePayForm.invalid" (click)="storeCardDetails(AdvancePayForm.value)">
                                <mat-icon>lock</mat-icon>
                                Pay{{amount | currency:'INR'}}
                            </button>
                        </div>
                    </form>
                </div>
                <!-- <div class="footer-content m-5 justify-content-center">
                    <img src="../../assets/images/checkout/jio.png" width="150px" height="25px" />
                </div> -->
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tab-card">
                        <img matChipAvatar src="../../assets/images/checkout/netbanking.svg" class="tab-icon mb-2" />
                        <p class="font-sm weight-regular mb-0">Net Banking</p>
                    </div>
                </ng-template>
                <div class="innerCard">
                    <div class="pb-3">
                        <p class="font-lg weight-regular pb-2">Select Bank</p>
                        <mat-chip-grid>
                            <mat-chip (click)="selectBank('HDFC')" class="me-2 mb-2">
                                <img matChipAvatar src="../../assets/images/checkout/hdfc.png" />
                                HDFC
                            </mat-chip>
                            <mat-chip (click)="selectBank('SBI')" class="me-2 mb-2">
                                <img matChipAvatar src="../../assets/images/checkout/sbi.png" />
                                SBI
                            </mat-chip>
                            <mat-chip (click)="selectBank('ICICI')" class="me-2 mb-2">
                                <img matChipAvatar src="../../assets/images/checkout/icici.png" />
                                ICICI
                            </mat-chip>
                        </mat-chip-grid>
                        <mat-chip-grid>
                            <mat-chip (click)="selectBank('AXIS')" class="me-2 mb-2">
                                <img matChipAvatar src="../../assets/images/checkout/axis.png" />
                                AXIS
                            </mat-chip>

                            <mat-chip (click)="selectBank('KOTAK')" class="me-2 mb-2">
                                <img matChipAvatar src="../../assets/images/checkout/kotak.png" />
                                KOTAK
                            </mat-chip>
                            <mat-chip (click)="selectBank('PNB')" class="me-2 mb-2">
                                <img matChipAvatar src="../../assets/images/checkout/pnb.png" />
                                PNB
                            </mat-chip>
                        </mat-chip-grid>
                    </div>
                    <form #NetBankForm="ngForm">
                        <mat-form-field  style="width: 438px">
                            <mat-label>Search Bank</mat-label>
                            <input matInput placeholder="Bank" [(ngModel)]="netBValue" name="unet"
                                #u_net_select="ngModel" required />
                        </mat-form-field>
                        <div class="spc-24"></div>
                        <button mat-flat-button color="primary" style="width: 438px; color:white;" [disabled]="NetBankForm.invalid"
                            (click)="storeNetBAnkDetails(netBValue)">
                            <mat-icon>lock</mat-icon>
                            Pay {{amount | currency:'INR'}}
                        </button>
                    </form>
                </div>
                <!-- <div class="footer-content  justify-content-center" style="margin-top: 120px;margin-bottom: 20px;">
                    <img src="../../assets/images/checkout/jio.png" width="150px" height="25px" />
                </div> -->
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tab-card">
                        <img matChipAvatar src="../../assets/images/checkout/cards.svg" class="tab-icon mb-2" />
                        <p class="font-sm weight-regular mb-0"> UPI</p>
                    </div>
                </ng-template>
                <div class="innerCard">
                    <div class="pb-3">
                        <p class="font-lg weight-regular pb-2">Enter VPA details</p>
                        <form #AdvancePayForm="ngForm">
                            <mat-form-field  style="width: 438px">
                                <mat-label>VPA Id</mat-label>
                                <input matInput type="text" placeholder="Ex:Sanjeev@sbi" name="upiid" required
                                    pattern="[a-zA-Z0-9.\-_]{2,256}@[a-zA-Z]{2,64}" [(ngModel)]="adObj.upiid"
                                    #upiid="ngModel" />
                                <mat-error *ngIf="upiid.errors?.['required']">
                                    Value is required
                                </mat-error>
                                <mat-error *ngIf="upiid.errors?.['pattern']">
                                    Enter Valid UPI Id
                                </mat-error>
                            </mat-form-field>
                            <div>
                                <button mat-flat-button color="primary" style="width: 438px; color:white;"
                                    [disabled]="AdvancePayForm.invalid" (click)="storeupiDetails(AdvancePayForm.value)">
                                    <mat-icon>lock</mat-icon>
                                   Pay {{amount | currency:'INR'}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- <div class="footer-content justify-content-center" style="margin-top: 200px;margin-bottom: 20px;">
                    <img src="../../assets/images/checkout/jio.png" width="150px" height="25px" />
                </div> -->
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="tab-card">
                        <img matChipAvatar src="../../assets/images/checkout/wallet.svg" class="tab-icon mb-2" />
                        <p class="font-sm weight-regular mb-0">Wallets</p>
                    </div>
                </ng-template>
                <div class="innerCard">
                    <div class="pb-3">
                        <p class="font-lg weight-regular pb-2">Express checkout</p>
                        <mat-chip-grid>
                            <mat-chip (click)="selectBank('paytm')" class="me-2 mb-2">
                                <img matChipAvatar src="../../assets/images/checkout/paytm.png" />
                               PayTM
                            </mat-chip>
                            <mat-chip (click)="selectBank('phonepay')" class="me-2 mb-2">
                                <img matChipAvatar src="../../assets/images/checkout/phonepe.png" />
                                PHONE PE
                            </mat-chip>
                            <mat-chip (click)="selectBank('Googlepay')" class="me-2 mb-2">
                                <img matChipAvatar src="../../assets/images/checkout/gpay.png" />
                               GPAY
                            </mat-chip>
                        </mat-chip-grid>
                    </div>
                    <form #AdvancePayForm="ngForm">
                        <div fxLayout="column">
                            <mat-form-field  style="width: 438px">
                                <mat-label>mobile</mat-label>
                                <input matInput type="text" placeholder="Ex:7458865479" name="wallet" maxlength="10"
                                    required
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                    pattern="^[0-9]{10}$" [(ngModel)]="adObj.wallet" #wallet="ngModel" />
                                <mat-error *ngIf="wallet.errors?.['required']">
                                    Phone Pay
                                </mat-error>
                                <mat-error *ngIf="wallet.errors?.['pattern']">
                                    Invalid Wallet
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-flat-button color="primary" style="width: 438px; color:white;"
                                [disabled]="AdvancePayForm.invalid" (click)="storewalletDetails(AdvancePayForm.value)">
                                <mat-icon>lock</mat-icon>
                                Pay {{amount | currency:'INR'}}
                            </button>
                        </div>
                    </form>
                </div>
                <!-- <div class="footer-content justify-content-center" style="margin-top: 150px;margin-bottom: 20px;">
                    <img src="../../assets/images/checkout/jio.png" width="150px" height="25px" />
                </div> -->
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
<div class="db-bg">
    <img [src]="bgImg">
</div>