// Define font family
$font-family-primary: 'Poppins';

// Define font sizes
$font-sizes: (
    'font-xs': 10px,
    'font-sm': 12px,
    'font-md': 14px,
    'font-lg': 16px,
    'font-xl': 20px,
    'font-2xl': 24px,
    'font-3xl': 32px,
    'font-4xl': 36px,
    'font-5xl': 40px,
    'font-6xl': 48px,
    'font-7xl': 64px,
    'font-8xl': 96px,
    'font-9xl': 128px
);

// Define font weights
$font-weights: (
    'weight-regular': 400,
    'weight-medium': 500,
    'weight-semibold': 600,
    'weight-bold': 700
);
$background-colors: (
    'bg-primary': #17A2B8,
    'bg-secondary': #6c757d,
    'bg-success': #28a745,
    'bg-danger': #dc3545,
    'bg-warning': #ffc107,
    'bg-info': #17a2b8,
    'bg-light': #f8f9fa,
    'bg-dark': #343a40,
    'bg-muted': #6c757d,
    'bg-white': #ffffff,
    'bg-transparent': transparent
);


// Generate font-size classes with font family
@each $name, $size in $font-sizes {
    .#{$name} {
        font-size: $size;
        font-family: $font-family-primary;
    }
}

// List of font colors
$font-colors: (
    'text-primary': #17A2B8,
    'text-secondary': #6c757d,
    'text-green': #28a745,
    'text-danger': #dc3545,
    'text-warning': #ffc107,
    'text-info': #17a2b8,
    'text-light': #f8f9fa,
    'text-dark': #343a40,
    'text-muted': #6c757d,
    'text-white': #ffffff
);

@each $name, $color in $font-colors {
    .#{$name} {
        color: $color;
    }
}

// Generate font-weight classes 
@each $name, $weight in $font-weights {
    .#{$name} {
        font-weight: $weight;
    }
}

// Eg:class="font-md weight-regular"