<div class="document-area">
    <div class="login-container">
        <div class="login-card">
            <div class="brand d-flex align-items-center mb-3">
                <img src="../../../assets/payease-logo.png" alt="App Logo" class="brand-icon" />
                <img src="../../../assets/logopayease.jpeg" alt="App Logo" class="brand-icon" />
            </div>
            <mat-divider></mat-divider>
            <form #userobjForm="ngForm" (keydown.enter)="$event.preventDefault()" name="objForm" autocomplete="off">
                <div class="p-1" *ngIf="!isCheckMail">
                    <div class="text-center my-3">
                        <img src="../../../assets/key-password.svg" alt="Change Password Logo" width="80px">
                    </div>
                    <div class="text-center">
                        <h5 class="fw-bold text-dark mb-2">Forgot Password?</h5>
                        <p class="text-muted small mb-4">Enter your email address associated with your account, and
                            we'll send you a link to reset your password.</p>
                    </div>
                    <div class="mb-3 col-12">
                        <label for="email" class="form-label">Email Address <span class="text-danger">*</span></label>
                        <input class="form-control" id="email" name="email" [(ngModel)]="userEmail" required
                            #emailInput="ngModel" [disabled]="isDisabled" placeholder="Enter Your Email"
                            [ngClass]="{ 'is-invalid': emailInput.invalid && emailInput.touched }" />
                        <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger"
                            placeholder="work@example.com">
                            <small *ngIf="emailInput.errors?.['required']">Please enter your Email ID</small>
                            <small *ngIf="emailInput.errors?.['email']">Invalid email format.</small>
                        </div>
                    </div>
                    <div class="d-grid mb-2">
                        <button mat-flat-button color="accent" class="text-white rounded-pill p-2 fw-semibold"
                            [disabled]="userobjForm.invalid" (click)="ResetPassword()">Reset Password</button>
                    </div>
                    <div class="d-grid">
                        <button mat-button class="rounded-pill p-2 fw-semibold" (click)="cancel()">Cancel</button>
                    </div>
                </div>
                <div class="p-1" *ngIf="isCheckMail">
                    <div class="text-center my-3">
                        <img src="../../../assets/images/mail.svg" alt="Change Password Logo" width="80px">
                    </div>
                    <div class="text-center">
                        <h5 class="fw-bold text-dark mb-2">Please check your inbox</h5>
                        <p class="text-muted small mb-4">A reset password link has been sent to.</p>
                    </div>
                    <p class="text-center mb-2">Didn't receive the mail? <a>Send again.</a></p>
                    <div class="d-grid mb-2">
                        <button mat-flat-button color="accent" class="text-white rounded-pill p-2 fw-semibold"
                            [disabled]="userobjForm.invalid" (click)="changePassword()">Change Password</button>
                    </div>
                    <div class="d-grid">
                        <button mat-button class="rounded-pill p-2 fw-semibold" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>