<div class="m-5">
    <div class="d-flex mb-2">
        <button class="btn btn-primary" (click)="switchToCancel()"> <i class="bi bi-chevron-left"></i>Back</button>
    </div>
    <div class="d-flex mb-3">
        <h4 class="mt-2 text-primary">{{ isCreateMode ? 'Create New User' : 'Customer Update' }}</h4>
        <div class="ms-auto">
            <button *ngIf="!isEditMode" class="btn btn-primary" (click)="onEditClick()">Edit</button>
            <ng-container *ngIf="isEditMode">
                <button class="btn btn-outline-secondary me-2" (click)="onCancelEdit()">Cancel</button>
                <button class="btn btn-primary" (click)="submitCustomerDetails()" [disabled]="customerForm.invalid">
                    {{ isCreateMode ? 'Create User' : 'Update User' }}
                </button>
            </ng-container>
        </div>
    </div>
    <div class="card p-5">
        <h5 class="mb-3 fw-semibold">Customer Registration</h5>
        <div class="mt-4">
            <form class="row g-4 align-items-start" #customerForm="ngForm" (keydown.enter)="$event.preventDefault()"
                name="customerForm" autocomplete="off">
                <!-- <div class="col-md-2 text-center">
                    <div class="position-relative d-inline-block">
                        <label for="imageUpload" class="cursor-pointer">
                            <img *ngIf="croppedImage" [src]="croppedImage" alt="Profile"
                                class="img-thumbnail rounded-circle shadow"
                                style="width: 140px; height: 140px; object-fit: cover;" />
                            <img *ngIf="!croppedImage" src="assets/images/picture-icon.svg"
                                class="img-thumbnail rounded-circle bg-light p-3" alt="Default Avatar"
                                style="width: 140px; height: 140px;" />
                        </label>
                        <input type="file" id="imageUpload" (change)="fileChangeEvent($event)" hidden />
                        <span
                            class="position-absolute bottom-0 end-0 translate-middle p-1 bg-primary border border-light rounded-circle">
                            <i class="bi bi-camera text-white"></i>
                        </span>
                    </div>
                    <div class="mt-2 small text-muted">Click to upload</div>
                    <div *ngIf="checkType">
                        <span style="color: red;">{{invalidTypeMessage}}</span>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="col-md-12">
                                <mat-label>Full Name</mat-label>
                                <input matInput name="fName" [(ngModel)]="customerObj.fullName" #fName="ngModel"
                                    [disabled]="disabledMode" required />
                                <mat-error *ngIf="fName.errors?.['required']">
                                    Full Name is
                                    required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="col-md-12">
                                <mat-label>Mobile Number</mat-label>
                                <!-- <span matTextPrefix>+91 &nbsp;</span> -->
                                <input matInput name="mblNum" [(ngModel)]="customerObj.phNo" #mblNum="ngModel"
                                    [disabled]="disabledMode" required />
                                <mat-error *ngIf="mblNum.errors?.['required']">
                                    Mobile Number is
                                    required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="col-md-12">
                                <mat-label>Email</mat-label>
                                <input matInput name="eml" [(ngModel)]="customerObj.emailId" #eml="ngModel"
                                    [disabled]="disabledMode" required />
                                <mat-error *ngIf="eml.errors?.['required']">
                                    Email is
                                    required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="col-md-12">
                                <mat-label>Address</mat-label>
                                <input matInput name="add" [(ngModel)]="customerObj.address" #add="ngModel"
                                    [disabled]="disabledMode" required />
                                <mat-error *ngIf="add.errors?.['required']">
                                    Address is
                                    required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="col-md-12">
                                <mat-label>Date of Birth</mat-label>
                                <input matInput name="dbth" [(ngModel)]="customerObj.dateOfBirth" #dbth="ngModel"
                                    [disabled]="disabledMode" required />
                                <mat-error *ngIf="dbth.errors?.['required']">
                                    Date of Birth is
                                    required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="col-md-12">
                                <mat-label>Business Name</mat-label>
                                <input matInput name="bnam" [(ngModel)]="customerObj.businessName" #bnam="ngModel"
                                    [disabled]="disabledMode" required />
                                <mat-error *ngIf="bnam.errors?.['required']">
                                    Business Name is
                                    required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="col-md-12">
                                <mat-label>Business Address</mat-label>
                                <input matInput name="bAdd" [(ngModel)]="customerObj.businessAddress" #bAdd="ngModel"
                                    [disabled]="disabledMode" required />
                                <mat-error *ngIf="bAdd.errors?.['required']">
                                    Business Address is
                                    required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="col-md-12">
                                <mat-label>Distribute Id</mat-label>
                                <input matInput name="dstId" [(ngModel)]="customerObj.distributeId" #dstId="ngModel"
                                    [disabled]="disabledMode" required />
                                <mat-error *ngIf="dstId.errors?.['required']">
                                    Distribute Id is
                                    required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row g-3">
                        <p class="font-xl weight-bold">Verification Details</p>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="col-md-12">
                                <mat-label>Aadhar</mat-label>
                                <input matInput name="adh" [(ngModel)]="customerObj.aadharNo" #adh="ngModel"
                                    [disabled]="disabledMode" required />
                                <mat-error *ngIf="adh.errors?.['required']">
                                    Aadhar is
                                    required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="col-md-12">
                                <mat-label>PAN</mat-label>
                                <input matInput name="pn" [(ngModel)]="customerObj.panNo" #pn="ngModel"
                                    [disabled]="disabledMode" required />
                                <mat-error *ngIf="pn.errors?.['required']">
                                    PAN is
                                    required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <mat-divider class="mt-4"></mat-divider>
        <!-- <div class="row">
            <div class="col-md-4 pe-4 border-end">
                <label class="fw-medium mb-2 mt-4">Assign Role</label>
                <table class="table table-bordered table-sm me-2">
                    <thead class="table-light">
                        <tr>
                            <th>Role</th>
                            <th>Functions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let role of userRoles">
                            <td>
                                <input type="checkbox" [(ngModel)]="role.selected" (change)="onRoleToggle(role)"
                                    [disabled]="disabledMode" />
                                {{ role.roleName }}
                            </td>
                            <td>{{ role.description }}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="mt-2 small">Didn’t find a relevant role? <a href="#" class="text-primary fw-semibold">Create
                        New Role</a></p>
            </div>
            <div class="border-0 mt-4 col-md-8">
                <div class="fw-semibold">Permissions</div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-bordered align-middle mb-0">
                            <thead class="table-primary text-center">
                                <tr>
                                    <th>Function</th>
                                    <th>Create</th>
                                    <th>View</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                    <th>Getall</th>
                                    <th>Search</th>
                                    <th>Upload</th>
                                    <th>Export</th>
                                    <th>Approve</th>
                                    <th>Reject</th>
                                    <th>All</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let element of permissiondataSource; let i = index">
                                    <td class="fw-medium text-dark">{{ element.function }}</td>
                                    <td class="text-center">
                                        <div class="form-check form-switch d-inline-block"
                                            *ngIf="element.action.includes('CREATE')">
                                            <input class="form-check-input" type="checkbox"
                                                [(ngModel)]="element.isCreate" [disabled]="true">
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-check form-switch d-inline-block"
                                            *ngIf="element.action.includes('VIEW')">
                                            <input class="form-check-input" type="checkbox" [(ngModel)]="element.isView"
                                                [disabled]="true">
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-check form-switch d-inline-block"
                                            *ngIf="element.action.includes('UPDATE')">
                                            <input class="form-check-input" type="checkbox"
                                                [(ngModel)]="element.isUpdate" [disabled]="true">
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-check form-switch d-inline-block"
                                            *ngIf="element.action.includes('DELETE')">
                                            <input class="form-check-input" type="checkbox"
                                                [(ngModel)]="element.isDelete" [disabled]="true">
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-check form-switch d-inline-block"
                                            *ngIf="element.action.includes('GETALL')">
                                            <input class="form-check-input" type="checkbox"
                                                [(ngModel)]="element.isGetAll" [disabled]="true">
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-check form-switch d-inline-block"
                                            *ngIf="element.action.includes('SEARCH')">
                                            <input class="form-check-input" type="checkbox"
                                                [(ngModel)]="element.isSearch" [disabled]="true">
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-check form-switch d-inline-block"
                                            *ngIf="element.action.includes('UPLOAD')">
                                            <input class="form-check-input" type="checkbox"
                                                [(ngModel)]="element.isUpload" [disabled]="true">
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-check form-switch d-inline-block"
                                            *ngIf="element.action.includes('EXPORT')">
                                            <input class="form-check-input" type="checkbox"
                                                [(ngModel)]="element.isExport" [disabled]="true">
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-check form-switch d-inline-block"
                                            *ngIf="element.action.includes('APPROVE')">
                                            <input class="form-check-input" type="checkbox"
                                                [(ngModel)]="element.isApprove" [disabled]="true">
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-check form-switch d-inline-block"
                                            *ngIf="element.action.includes('REJECT')">
                                            <input class="form-check-input" type="checkbox"
                                                [(ngModel)]="element.isReject" [disabled]="true">
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-check form-switch d-inline-block">
                                            <mat-slide-toggle class="bootstrap-toggle" [disabled]="true"
                                                [(ngModel)]="element.isAll" [disabled]="true">
                                            </mat-slide-toggle>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>