<!-- <router-outlet /> -->
<!-- [dir]="textDirection" -->
<div>
  <div class="row">
    <!-- *ngIf="authService.isloggedin() " -->
    <app-header></app-header>
    <router-outlet />
  </div>
  <!-- <mat-sidenav-container autosize mode="side" opened>
      <mat-sidenav #sidenav class="primarySideNav" [opened]="true" mode="side" *ngIf="authService.isloggedin()">
          <app-sidenav></app-sidenav>
      </mat-sidenav>
      <mat-sidenav-content
          [ngStyle]="themeService.themeType =='dark_mode' ? {  'background-color': '#424242','height':'100vh'}:{'background-color': '#FBFCFC','height':'100vh'}">
          <router-outlet />
      </mat-sidenav-content>
  </mat-sidenav-container> -->
</div>
<div class="position-fixed end-0 p-3" style="z-index: 1100; top: 80px;">
  <div *ngFor="let toast of this.postService.toastMessages;trackBy: trackById"
    class="toast bg-white border shadow-sm show mb-2" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex align-items-center"
      [ngClass]="{'toast-success shadow-sm':toast.type === 'success','toast-error shadow-sm':toast.type === 'error'}">
      <i class="bi" [ngClass]="{
           'bi-check-circle-fill text-success': toast.type === 'success',
           'bi-exclamation-triangle-fill text-danger': toast.type === 'error'
         }" class="fs-5 me-2"></i>
      <span class="fw-medium text-dark">{{ toast.text }}</span>
    </div>
  </div>
</div>