<div class="login-container">
    <div class="row login-box w-100" style="max-width: 850px;">
        <div class="login-card">
            <div class="brand d-flex align-items-center mb-3">
                <img src="../../../assets/payease-logo.png" alt="App Logo" class="brand-icon" />
                <img src="../../../assets/logopayease.jpeg" alt="App Logo" class="brand-icon" />
            </div>
            <mat-divider></mat-divider>
            <h2 class="welcome-text">Hey there, Welcome back!</h2>
            <form #userobjForm="ngForm" (keydown.enter)="$event.preventDefault()" name="objForm" autocomplete="off">
                <!-- <div class="mb-3 col-12">
                    <label for="email" class="form-label">Full Name <span class="text-danger">*</span></label>
                    <input class="form-control" id="email" name="email" [(ngModel)]="userEmail" required
                        #emailInput="ngModel" [disabled]="isDisabled"
                        [ngClass]="{ 'is-invalid': emailInput.invalid && emailInput.touched }" />
                    <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger"
                        placeholder="work@example.com">
                        <small *ngIf="emailInput.errors?.['required']">Email is required.</small>
                        <small *ngIf="emailInput.errors?.['email']">Invalid email format.</small>
                    </div>
                </div>
                <div class="mb-3 col-12">
                    <label for="email" class="form-label">Business Name <span class="text-danger">*</span></label>
                    <input class="form-control" id="email" name="email" [(ngModel)]="userEmail" required
                        #emailInput="ngModel" [disabled]="isDisabled"
                        [ngClass]="{ 'is-invalid': emailInput.invalid && emailInput.touched }" />
                    <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger"
                        placeholder="work@example.com">
                        <small *ngIf="emailInput.errors?.['required']">Email is required.</small>
                        <small *ngIf="emailInput.errors?.['email']">Invalid email format.</small>
                    </div>
                </div>
                <div class="mb-3 col-12">
                    <label for="email" class="form-label">Email Address <span class="text-danger">*</span></label>
                    <input class="form-control" id="email" name="email" [(ngModel)]="userEmail" required
                        #emailInput="ngModel" [disabled]="isDisabled"
                        [ngClass]="{ 'is-invalid': emailInput.invalid && emailInput.touched }" />
                    <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger"
                        placeholder="work@example.com">
                        <small *ngIf="emailInput.errors?.['required']">Email is required.</small>
                        <small *ngIf="emailInput.errors?.['email']">Invalid email format.</small>
                    </div>
                </div>
                <div class="mb-3 col-12">
                    <label for="email" class="form-label">Mobile Number <span class="text-danger">*</span></label>
                    <input class="form-control" id="email" name="email" [(ngModel)]="userEmail" required
                        #emailInput="ngModel" [disabled]="isDisabled"
                        [ngClass]="{ 'is-invalid': emailInput.invalid && emailInput.touched }" />
                    <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger"
                        placeholder="work@example.com">
                        <small *ngIf="emailInput.errors?.['required']">Mobile Number is required.</small>
                    </div>
                </div>
                <div class="mb-3 col-12">
                    <label for="email" class="form-label">Enter Aadhar <span class="text-danger">*</span></label>
                    <input class="form-control" id="email" name="email" [(ngModel)]="userEmail" required
                        #emailInput="ngModel" [disabled]="isDisabled"
                        [ngClass]="{ 'is-invalid': emailInput.invalid && emailInput.touched }" />
                    <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger"
                        placeholder="work@example.com">
                        <small *ngIf="emailInput.errors?.['required']">Aadhar is required.</small>
                    </div>
                </div>
                <div class="mb-3 col-12">
                    <label for="email" class="form-label">Enter PAN <span class="text-danger">*</span></label>
                    <input class="form-control" id="pan" name="pan" [(ngModel)]="userEmail" required
                        #emailInput="ngModel" [disabled]="isDisabled"
                        [ngClass]="{ 'is-invalid': emailInput.invalid && emailInput.touched }" />
                    <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger"
                        placeholder="work@example.com">
                        <small *ngIf="emailInput.errors?.['required']">PAN is required.</small>
                    </div>
                </div> -->
                <mat-form-field appearance="outline" class="col-md-12">
                    <mat-label>Full Name</mat-label>
                    <input matInput name="fName" [(ngModel)]="customerObj.fullName" #fName="ngModel"
                        [disabled]="disabledMode" required />
                    <mat-error *ngIf="fName.errors?.['required']">
                        Full Name is
                        required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-12">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput name="mblNum" [(ngModel)]="customerObj.phNo" #mblNum="ngModel"
                        [disabled]="disabledMode" required />
                    <mat-error *ngIf="mblNum.errors?.['required']">
                        Mobile Number is
                        required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-12">
                    <mat-label>Email</mat-label>
                    <input matInput name="eml" [(ngModel)]="customerObj.emailId" #eml="ngModel"
                        [disabled]="disabledMode" required />
                    <mat-error *ngIf="eml.errors?.['required']">
                        Email is
                        required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-12">
                    <mat-label>Address</mat-label>
                    <input matInput name="add" [(ngModel)]="customerObj.address" #add="ngModel"
                        [disabled]="disabledMode" required />
                    <mat-error *ngIf="add.errors?.['required']">
                        Address is
                        required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-12">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput name="dbth" [(ngModel)]="customerObj.dateOfBirth" #dbth="ngModel"
                        [disabled]="disabledMode" required [matDatepicker]="datepicker" />
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker></mat-datepicker>
                    <mat-error *ngIf="dbth.errors?.['required']">
                        Date of Birth is
                        required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-12">
                    <mat-label>Business Name</mat-label>
                    <input matInput name="bnam" [(ngModel)]="customerObj.businessName" #bnam="ngModel"
                        [disabled]="disabledMode" required />
                    <mat-error *ngIf="bnam.errors?.['required']">
                        Business Name is
                        required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-12">
                    <mat-label>Business Address</mat-label>
                    <input matInput name="bAdd" [(ngModel)]="customerObj.businessAddress" #bAdd="ngModel"
                        [disabled]="disabledMode" required />
                    <mat-error *ngIf="bAdd.errors?.['required']">
                        Business Address is
                        required
                    </mat-error>
                </mat-form-field>
                <!-- <mat-form-field appearance="outline" class="col-md-12">
                    <mat-label>Distribute Id</mat-label>
                    <input matInput name="dstId" [(ngModel)]="customerObj.distributeId" #dstId="ngModel"
                        [disabled]="disabledMode" required />
                    <mat-error *ngIf="dstId.errors?.['required']">
                        Distribute Id is
                        required
                    </mat-error>
                </mat-form-field> -->
                <button
                    class="btn btn-primary w-100 mb-3 mt-3 rounded-pill d-flex align-items-center justify-content-center"
                    [disabled]="!userobjForm.form.valid || isLoading" (click)="register()">
                    <span *ngIf="!isLoading">Register</span>
                    <div *ngIf="isLoading" class="d-flex align-items-center gap-2">
                        <span class="spinner-border spinner-border-sm text-light" role="status"
                            aria-hidden="true"></span>
                        <span>Logging in...</span>
                    </div>
                </button>
            </form>
            <div class="footer">
                Are you existing user? <a [routerLink]="['/login']">SIGN IN</a>
            </div>
            <div class="security-info">
                🔐 SSL Secured &nbsp; | &nbsp; ✅ SOC 2 Compliant &nbsp; | &nbsp; 🔄 99.9% Uptime
            </div>
        </div>
        <div class="col-md-6 d-none d-md-block info-box">
            <h5>Payease Provides best solutions for our customers</h5>
            <ul class="mt-3">
                <li class="font-xl">We will provide robust security measures, including two-factor authentication, to
                    protect users sensitive information.</li>
                <li class="font-xl">We offer multiple payment methods, including credit/debit cards, net banking, and
                    bank transfers, so you can choose what works best for you</li>
                <li class="font-xl">Receive timely reminders and notifications about fee due dates to ensure you never
                    miss a payment.</li>
                <li class="font-xl">Get immediate confirmation of your payment along with a detailed receipt for your
                    record.</li>
            </ul>
        </div>
    </div>
</div>
<div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 1100">
    <div id="toastMessage" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex align-items-center toast-error shadow-sm" *ngIf="!reqFS">
            <i class="bi bi-exclamation-triangle-fill text-danger fs-5 me-2"></i>
            <span class="fw-medium text-dark">Incorrect email or password</span>
        </div>
        <div class="d-flex align-items-center toast-success shadow-sm" *ngIf="reqFS">
            <i class="bi bi-check-circle-fill text-success fs-5 me-2"></i>
            <span class="fw-medium text-dark">Login successful</span>
        </div>
    </div>
</div>