<section class="shipping-page">
  <h1>SHIPPING, RETURNS/REFUNDS AND CANCELLATION POLICY</h1>

  <h2>Shipping &amp; Returns/Refunds</h2>
  <h3>Shipping</h3>

  <ul>
    <li>
      <strong>Standard shipping:</strong> Rs. 60. It takes 7-10 working days to prepare, dispatch and deliver the
      products.
    </li>
    <li>
      Refunds are processed to customers for unsuccessful deliveries or for any issues related to items to their
      original payment method after coming to our notice.
    </li>
    <li>
      We do not accept any kind of returns, but with regards to any kind of order related issues, we will be
      refunding the amounts within 48hrs of the issue coming to our notice.
    </li>
    <li>Orders can be cancelled by the customer by contacting us through our WhatsApp customer care.</li>
  </ul>
</section>
